.tableLog,.tableLog th,.tableLog tr,.tableLog td{
  border: 1px solid black;
}

#tableLog{
  /* width: 100%; */
  position: relative;
}
.tableLog th, .tableLog td{
  width: 30%;
  padding: 5px ;
}
#backButton{
position: absolute;
top: 80px;
right: 10px;
}
input{
  height: 0rem;
}
#nameSearch{
background-image: url('search.png');
background-size: 4rem 4rem;
background-repeat: no-repeat;
background-position: top right;
}

.table{
margin-bottom: 0px;
background-color: white;

}

#myBtn {
display: none; 
position: fixed; 
bottom: 20px;
right: 30px; 
z-index: 99; 
border: none; 
outline: none;
background-color: dodgerblue; 
color: black; 
cursor: pointer; 
padding: 15px;
border-radius: 10px; 
font-size: 18px; 
}
#myBtn:hover {
background-color: goldenrod; 
}
.top{
position: fixed;
bottom: 30px;
right: 30px;
background-image: url('scrolltop.png');
background-size: 9rem 4rem;
background-repeat: no-repeat;
width: 100px;
height: 40px;
/* background-position: top right; */

}
body{
background-color: rgb(240, 240, 247);
}
.export{
background-image: url('export.png');
background-size: 4rem 4rem;
background-repeat: no-repeat;
background-position: top right;
width: 40px;
height: 40px;
position:absolute;
right: 90px;
top: 245px;


}

.export-button{
  position: relative;
  /* top: 10%; */
}