.Login {
    font-family: sans-serif;
    text-align: center;
  }


/* body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 100vh;
  background: white;
} */

input {
  margin: 5px;
}


@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body {
	margin: 0;
	padding: 0;
	background: #fff;

	color: black;
	font-family: Arial;
  font-size: 20px;
  font-weight: 5px;
}

.background{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image: url(https://thewallpaper.co//wp-content/uploads/2017/09/samsung-amazing-nature-windows-desktop-images-of-landscape-sky-beautiful-clouds-field-free-background-images-nature-trees-grass.jpg);
  background-size: cover;
	-webkit-filter: blur(10px);
	z-index: -1;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: wrap-content;
	height:wrap-content;
	z-index: 0;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #000000;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #005c0c !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1.5px solid #1fbd34;
	border-radius: 10px;
	color:  #1fbd34;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}
input:focus::placeholder {
  color: transparent;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1.5px solid #1fbd34;
	border-radius: 10px;
	color:  #4ae46b;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login button{
	width: 260px;
	height: 35px;
	background:  #1fbd34;
	border: 1px solid  #1fbd34;
	cursor: pointer;
	border-radius: 10px;
	color:#fff2fe;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login button:hover{
	opacity: 0.8;
}

.login button:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid  #1fbd34;
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid  #1fbd34;
}

.login button:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color:  #1fbd34;
}

::-moz-input-placeholder{
   color:  #1fbd34;
}


#divWrong, #divInvalid{
  position: absolute;
  font-family: 'Exo', sans-serif;
	font-size: 20px;
  font-weight: 400;
  top: 75%;
  left: 50%;
  color: #1fbd34;
  z-index: 2;
}